h1 span{
    position:absolute;
    top:150px;
    width:100%;
    text-align: center;
    background:hsla(0, 100%, 90%, 0.3);
}
.jumbotron{
    position:relative;
    width:100%;
}
h2{text-align:center;
color:grey;}
@media screen and (min-width:400px) {
    .hidden-xs
}
