/*@media screen and (max-width: 1500px) {*/
    /*.column.one-third,*/
    /*.column.one-half {*/
        /*width: 100%;*/
    /*}*/
 .container {
     margin: 0 auto;
     width:100%;
     max-width: 1200px;
 }
.row{
    width:100%;
}
.row:after{
    content:"";
    display:table;
    clear:both;
}
.column{
    float:left;
    padding:10px;
    border:.2em solid #000;
    box-sizing: border-box;
}
.column.one-half{
    width:50%;
    background-color:lavender;
}
.column.one-third{
    width:33.33%;
    background-color:lightgoldenrodyellow;
}

.column.one-fourth{
    width:25%;
    background-color:lightpink;
}
.column.one-eighth{
    width:12.5%;
    background-color:lightblue;
}

